body {
  color: #414141;
  background-color: #EEEEEE;
  font-size: 18px;
  text-align: left;
}
h1 {
  font-size: 3em;
}
h2 {
	font-size: 2em;
}
h1, h2 {
	font-family: "Helvetica", "Arial", sans-serif;
}
ul {
  list-style-type: circle;
}

ol {
  list-style-type: lower-roman;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
}
.synopsis {
  color: #7E8184;        /* Light gray */
  font-style: italic;
}
