body {
  color: #414141;
  background-color: #EEEEEE;
  font-size: 18px;
  text-align: left;
}
h1 {
  font-size: 3em;
}
h2 {
	font-size: 2em;
}
h1, h2 {
	font-family: "Helvetica", "Arial", sans-serif;
}
ul {
  list-style-type: circle;
}

ol {
  list-style-type: lower-roman;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
}
.synopsis {
  color: #7E8184;        /* Light gray */
  font-style: italic;
}
.button {
  color: #FFF;
  background-color: #5995DA;    /* Blue */
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;    /* Dark gray */
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
}
.call-to-action {
  font-style: italic;
  background-color: #EEB75A;    /* Yellow */
}
.page {
  width: 600px;
  margin: 0 auto;
}
.synopsis em {
  font-style: normal;
}
a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: purple;
}
a:hover {
  color: aqua;
  text-decoration: underline;
}
a:active {
  color: red;
}
a:visited:hover {
  color: orange;
}
